@model IEnumerable<DoroboShop.Models.ProductViewModel>

@foreach (var item in Model)
{
<div class="block-product">
  <img src="@item.FilePath"; style="width:350px;height:350px"/>  
    <h3 class="data-of-product">@item.Name</h3>
    <h3 class="data-of-product">@item.Brand</h3>
    <h3 class="price-of-product">@item.Price</h3>
</div>
}
